@font-face
{
    font-family: 'Roboto';
    src: url('webagency_images/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    src: url('webagency_images/fonts/Roboto-Bold.ttf') format('truetype');
	font-weight : bold;
}

body
{
	font-family: 'Roboto', Arial;
	margin: 0;
}

nav
{
	position: fixed;
	-webkit-transform: translateZ(0);
	display: flex;
	justify-content: space-around;
	z-index: 4000;
	background-color: white;
	width: 100%;
	height : 100px;
	margin-bottom: 10px;
	align-items: center;
}

#menu
{
	display: flex;
	list-style-type: none;
}

#menu li
{ 
	margin-right: 7px;
	cursor: pointer;
}

#menu a
{
	text-decoration: none;
	color: grey;
	padding-top: 38px;
	padding-right: 10px;
	padding-left: 10px;
}

#menu a:hover 
{
  color: black;
  border-top: 3px solid #3BAED8;
}

#accueil
{
	position: relative;
}

#slideshow
{
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
}

#sContent
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;            
	padding: 0;
    width: 200%;
    -webkit-transition: left 3s;
    -moz-transition: left 3s;
    -o-transition: left 3s;
	transition: left 3s;
	padding-top: 100px;
}

#sContent li
{
	display: inline;
	white-space: nowrap;
}

li img
{
	width: 50%;
}

#slideshow:target #sContent
{
	left: -100%;
}

#chevronGauche, #chevronDroite
{
	position: absolute;
	bottom: 42%;
	z-index: 50;
	background-color: rgba(0,0,0,0.3);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

#chevronGauche
{
	left: -28px;
}

#chevronDroite
{
	right: -28px;
}

.fa-chevron-left
{
	position: relative;
	left: 35px;
	top: 22px;
	color: white;
}

.fa-chevron-right
{
	position: relative;
	left: 14px;
	top: 22px;
	color: white;
}

#texteSurImage, #Infos
{
	position: absolute;
	z-index: 50;
	bottom: 33%;
	left: 10%;
}

.grasBleu, .grasBlanc
{
	font-weight: bold;
	font-size : xx-large;
}

.grasBleu
{
	color: #5CADD3;
}

.grasBlanc, .blanc, .boutonBleu
{
	color: white;
}

.boutonBleu
{
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 3px;
	background-color: #5CADD3;
	border-bottom: 5px solid #4494BB;
	cursor: pointer;
}

#services
{
	height: 640px;
	padding-top: 80px;
}

h2
{
	text-align: center;
	clear: both;
	font-size : xx-large;
}

#projets
{
	padding-top: 100px;
	background-color: #F5F5F5;
}

hr
{
	width: 150px;
	opacity: 0.3;
}

.cercleBleu
{
	position: relative;
	margin: auto;
	bottom: 22px;
	background-color: #3BAED8;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	border: 5px solid white;
}

.centre
{
	text-align: center;
	margin: auto;
	max-width: 50%;
}

#macIconeTexte
{
	display: flex;
	justify-content: space-around;
}

#iconeTexte
{
	position: relative;
	top: 70px;
	list-style-type: none;
	width: 72%;
}

#iconeTexte li
{
	margin-bottom: 30px;
}

.icone
{
	position: relative;
	float: left;
	padding: 20px;
	border-radius: 50%;
	border: 1px solid #d3d3d3;
	margin-right: 40px;
}

.fa-chart-line, .fa-cubes, .fa-chart-pie
{
	font-size: 30px;
	color: #3BAED8;
	border-radius: 50%;
}

.icone .cercleBleu
{
	position: absolute;
	left: 59px;
	top: 23px;
}

#design
{
	margin-left: 70px;
}

#menu2
{
	text-align: center;
	display: flex;
	justify-content: center;
	padding-left: 0;
	list-style-type: none;
}

#menu2 li
{
	position: relative;
	padding: 15px 0;
	background-color: #E5E5E5;
	cursor: pointer;
}

/*Le bouton "All Works" est enclenché initialement*/

li#bordGauche
{
	border-radius: 5px 0 0 5px;
	background-color: #5CADD3;
	border-bottom: 4px solid #468CAD;
	padding: 15px 0 11px 0;
}

a[href="#lesNeufProjets"]
{
	color: white;
	text-decoration: none;
	padding: 15px;
}

#bordDroit
{
	border-radius: 0 5px 5px 0;
}

#menu2 i
{
	position: absolute;
	top: 38px;
	right: 42%;
	font-size: 25px;
	display: none;
}

a[href="#creative"], a[href="#corporate"], a[href="#portfolio"]
{
	text-decoration: none;
	color: #64686D;
	padding: 15px;
}

#menu2 li:hover a
{
	color: white;
}

#menu2 li:hover
{ 
	background-color: #5CADD3;
	border-bottom: 4px solid #468CAD;
	padding-bottom: 11px;
}

#menu2 li:hover i
{
	display: initial;
	color: #468CAD;
}

#flex
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1500px;
}

figure
{
	position: relative;
	margin: 10px;
	overflow: hidden;
}

figure img
{
	width: 300px;
	height: 100%;
}

figcaption
{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	width: 100%;
	bottom: 0;
	height: 50px;
	display: none;
	cursor: pointer;
	padding-top: 12px;
	padding-left: 10px;
}

figure:hover figcaption
{
	display: block;
}

.fa-eye
{
	position: absolute;
	padding: 10px;
	color: white;
	background-color: #3BAED7;
	border: 2px solid white;
	border-radius: 50%;
	right: 30px;
	bottom: 40px;
}

/*Quand je clique sur un bouton, il est enclenché (sauf All Works)*/
#creative:target #bouton2, #corporate:target #bouton3, 
#portfolio:target #bordDroit
{
	background-color: #5CADD3;
	border-bottom: 4px solid #468CAD;
	padding-bottom: 11px;
}

#creative:target a[href="#creative"], 
#corporate:target a[href="#corporate"],
#portfolio:target a[href="#portfolio"]
{
	color: white;
}

/*Quand je clique sur un autre bouton que "All Works", 
"All Works" apparaît inactif*/

#creative:target #bordGauche, #corporate:target #bordGauche, 
#portfolio:target #bordGauche
{
	background-color: #E5E5E5;
	border-bottom: none;
}

#creative:target a[href="#lesNeufProjets"], 
#corporate:target a[href="#lesNeufProjets"],
#portfolio:target a[href="#lesNeufProjets"]
{
	color: #64686D;
}

#creative:target #bordGauche:hover, 
#corporate:target #bordGauche:hover, 
#portfolio:target #bordGauche:hover
{
	background-color: #5CADD3;
	border-bottom: 4px solid #468CAD;
	padding-bottom: 11px;
}

#creative:target #bordGauche:hover a[href="#lesNeufProjets"], 
#corporate:target #bordGauche:hover a[href="#lesNeufProjets"], 
#portfolio:target #bordGauche:hover a[href="#lesNeufProjets"]
{
	color: white;
}

/*Cliquer sur "All Works" réinitialise toutes les propriétés CSS*/

/*Quand je clique sur un bouton, les projets qui ne 
sont pas concernés sont transparents..*/
#creative:target .corporate, #creative:target .portfolio, 
#corporate:target .creative, #corporate:target .portfolio, 
#portfolio:target .creative, #portfolio:target .corporate
{
	opacity: 0.3;
}

/*.. et ceux qui sont concernés sont bien visible.*/
 
#creative:target .creative, 
#corporate:target .corporate, 
#portfolio:target .portfolio
{
	opacity: 1;
}

#googleMaps
{
	position: relative;
	padding-top: 100px;
	background-color: #F5F5F5;
}

#voileBleu
{
	position: absolute;
	bottom: 0;
	background-color: rgba(120, 190, 255, 0.3);
	width: 100%;
	height: 86%;
	pointer-events: none;
}

.gras
{
	font-weight: bold;
}

form
{
	position: absolute;
	padding: 0 20px;
	top: 150px;
	left: 60%;
	width: 320px;
	height: 530px;
	background-color: rgba(255,255,255,0.8);
}

form p
{
	color: #63686D;
	font-size: 0.85em;
}

#pointDessous
{
	border-bottom-style: dotted;
	border-width: 1px;
}

h3
{
	font-size: x-large;
	margin: 20px 0 15px 0;
}

.champ
{
	padding: 10px;
	border: 1px solid #CCCACA;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 300px;
}

input
{
	height: 13px;
}

#boutonEnvoi
{
	margin-top: 10px;
	height: 34px;
	width: 113px;
	padding: 0;
}

textarea
{
	font-family: 'Roboto';
}