@font-face
{
    font-family: 'Roboto';
    src: url('webagency_images/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face
{
    font-family: 'Roboto';
    src: url('webagency_images/fonts/Roboto-Bold.ttf') format('truetype');
	font-weight : bold;
}

body
{
	font-family: 'Roboto', Arial;
	margin: 0;
}

nav
{
	position: fixed;
	display: flex;
	justify-content: space-around;
	z-index: 4000;
	background-color: white;
	width: 100%;
	min-height : 100px;
	margin-bottom: 10px;
	align-items: center;
}


#menu
{
	display: flex;
	list-style-type: none;
	padding-left: 0;
}

#menu li
{ 
	margin-right: 7px;
	cursor: pointer;
}

#menu a
{
	text-decoration: none;
	color: grey;
	padding-top: 38px;
	padding-right: 10px;
	padding-left: 10px;
}

#menu a:hover 
{
  color: black;
  border-top: 3px solid #3BAED8;
}

#accueil
{
	position: relative;
}

#slideshow
{
	position: relative;
	width: 100%;
	height: 600px;
	overflow: hidden;
}

#sContent
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;            
	padding: 0;
    width: 200%;
    -webkit-transition: left 3s;
    -moz-transition: left 3s;
    -o-transition: left 3s;
	transition: left 3s;
	padding-top: 100px;
}

#sContent li
{
	display: inline;
	white-space: nowrap;
}

li img
{
	width: 50%;
}

#slideshow:target #sContent
{
	left: -100%;
}

#chevronGauche, #chevronDroite
{
	position: absolute;
	bottom: 42%;
	z-index: 50;
	background-color: rgba(0,0,0,0.3);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

#chevronGauche
{
	left: -28px;
}

#chevronDroite
{
	right: -28px;
}

.fa-chevron-left
{
	position: relative;
	left: 35px;
	top: 22px;
	color: white;
}

.fa-chevron-right
{
	position: relative;
	left: 14px;
	top: 22px;
	color: white;
}

#texteSurImage
{
	position: absolute;
	z-index: 50;
	bottom: 250px;
	left: 130px;
}

#grasBleu, #grasBlanc
{
	font-weight: bold;
	font-size: 2.5vw;
}

#grasBleu
{
	color: #5CADD3;
}

#grasBlanc, #blanc, .boutonBleu
{
	color: white;
}

#blanc
{
	font-size: 1.2vw;
}

.boutonBleu
{
	margin-top: 30px;
	padding: 10px 20px;
	border-radius: 3px;
	background-color: #5CADD3;
	border-bottom: 5px solid #4494BB;
	cursor: pointer;
}

#services
{
	padding-top: 80px;
}

h1
{
	text-align: center;
	clear: both;
	font-size : 45px;
}

#projets
{
	padding-top: 100px;
	background-color: #F5F5F5;
}

hr
{
	width: 150px;
	opacity: 0.3;
}

.cercleBleu
{
	position: relative;
	margin: auto;
	bottom: 22px;
	background-color: #3BAED8;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	border: 5px solid white;
}

.centre
{
	text-align: center;
	margin: auto;
	max-width: 50%;
}

#macIconeTexte
{
	display: flex;
	justify-content: space-around;
	max-width: 1900px;
	margin: auto;
}

#iconeTexte
{
	margin-top: 70px;
	list-style-type: none;
	width: 72%;
	padding-left: 0;
}

#iconeTexte li
{
	margin-bottom: 30px;
}

.icone
{
	position: relative;
	float: left;
	padding: 20px;
	border-radius: 50%;
	border: 1px solid #d3d3d3;
	margin-right: 40px;
}

.fa-chart-line, .fa-cubes, .fa-chart-pie
{
	font-size: 30px;
	color: #3BAED8;
	border-radius: 50%;
}

.icone .cercleBleu
{
	position: absolute;
	left: 59px;
	top: 23px;
}

#design
{
	margin-left: 70px;
}

#menu2
{
	text-align: center;
	display: flex;
	justify-content: center;
	padding-left: 0;
	list-style-type: none;
}

#menu2 li
{
	position: relative;
	padding: 15px 0;
	background-color: #E5E5E5;
	cursor: pointer;
}

/*Le bouton "All Works" est enclenché initialement*/

li#bordGauche
{
	border-radius: 5px 0 0 5px;
	background-color: #5CADD3;
	border-bottom: 4px solid #468CAD;
	padding: 15px 0 11px 0;
}

a[href="#lesNeufProjets"]
{
	color: white;
	text-decoration: none;
	padding: 15px;
}

#bouton2 i, #bouton3 i, #bordDroit i
{
	display: none;
}

#bordDroit
{
	border-radius: 0 5px 5px 0;
}

#menu2 i
{
	position: absolute;
	top: 38px;
	right: 42%;
	font-size: 25px;
	color: #468CAD;
}

a[href="#creative"], a[href="#corporate"], a[href="#portfolio"]
{
	text-decoration: none;
	color: #64686D;
	padding: 15px;
}

#menu2 li:hover a
{
	color: white;
}

#menu2 li:hover
{ 
	background-color: #5CADD3;
	border-bottom: 4px solid #468CAD;
	padding-bottom: 11px;
}

#menu2 li:hover i
{
	display: initial;
}

#conteneurImagesProjets
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1500px;
	margin: auto;
}

figure
{
	position: relative;
	margin: 10px;
	overflow: hidden;
}

figure img
{
	width: 300px;
	height: 100%;
}

figcaption
{
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	width: 100%;
	bottom: 0;
	height: 50px;
	display: none;
	cursor: pointer;
	padding-top: 12px;
	padding-left: 10px;
}

figure:hover figcaption
{
	display: block;
}

.fa-eye
{
	position: absolute;
	padding: 10px;
	color: white;
	background-color: #3BAED7;
	border: 2px solid white;
	border-radius: 50%;
	right: 30px;
	bottom: 40px;
}

/*Quand je clique sur un bouton, il est enclenché (sauf All Works)*/

#creative:target #bouton2, #corporate:target #bouton3, 
#portfolio:target #bordDroit
{
	background-color: #5CADD3;
	border-bottom: 4px solid #468CAD;
	padding-bottom: 11px;
}

#creative:target a[href="#creative"], 
#corporate:target a[href="#corporate"],
#portfolio:target a[href="#portfolio"]
{
	color: white;
}

#creative:target #bouton2 i, 
#corporate:target #bouton3 i, 
#portfolio:target #bordDroit i
{
	display: initial;
}

/*Quand je clique sur un autre bouton que "All Works", 
"All Works" apparaît inactif*/

#creative:target #bordGauche i, 
#corporate:target #bordGauche i, 
#portfolio:target #bordGauche i
{
	display: none;
}

#creative:target #bordGauche:hover i, 
#corporate:target #bordGauche:hover i, 
#portfolio:target #bordGauche:hover i
{
	display: block;
}

#creative:target #bordGauche, #corporate:target #bordGauche, 
#portfolio:target #bordGauche
{
	background-color: #E5E5E5;
	border-bottom: none;
}

#creative:target a[href="#lesNeufProjets"], 
#corporate:target a[href="#lesNeufProjets"],
#portfolio:target a[href="#lesNeufProjets"]
{
	color: #64686D;
}

#creative:target #bordGauche:hover, 
#corporate:target #bordGauche:hover, 
#portfolio:target #bordGauche:hover
{
	background-color: #5CADD3;
	border-bottom: 4px solid #468CAD;
	padding-bottom: 11px;
}

#creative:target #bordGauche:hover a[href="#lesNeufProjets"], 
#corporate:target #bordGauche:hover a[href="#lesNeufProjets"], 
#portfolio:target #bordGauche:hover a[href="#lesNeufProjets"]
{
	color: white;
}

/*Cliquer sur "All Works" réinitialise toutes les propriétés CSS*/

/*Quand je clique sur un bouton, les projets qui ne 
sont pas concernés sont transparents..*/

#creative:target .corporate, #creative:target .portfolio, 
#corporate:target .creative, #corporate:target .portfolio, 
#portfolio:target .creative, #portfolio:target .corporate
{
	opacity: 0.3;
}

/*.. et ceux qui sont concernés sont bien visible.*/
 
#creative:target .creative, 
#corporate:target .corporate, 
#portfolio:target .portfolio
{
	opacity: 1;
}

#googleMaps
{
	position: relative;
	padding-top: 100px;
	background-color: #F5F5F5;
}

#voileBleu
{
	position: absolute;
	bottom: 0;
	background-color: rgba(120, 190, 255, 0.3);
	width: 100%;
	height: 84.5%;
	pointer-events: none;
}

iframe
{
	width: 100%;
	height: 535px;
	border: 0;
}

#gras
{
	font-weight: bold;
}

form
{
	position: absolute;
	padding: 0 20px;
	top: 125px;
	left: 60%;
	width: 320px;
	height: 490px;
	background-color: rgba(255,255,255,0.8);
}

form p
{
	color: #63686D;
	font-size: 0.85em;
}

#pointDessous
{
	border-bottom-style: dotted;
	border-width: 1px;
}

#googleMaps h2
{
	font-size: x-large;
	margin: 20px 0 15px 0;
}

.champ
{
	padding: 10px;
	border: 1px solid #CCCACA;
	border-radius: 5px;
	width: 300px;
}

input
{
	height: 13px;
}

input.champ
{
	margin-bottom: 10px;
}

#boutonEnvoi
{
	margin-top: 5px;
	height: 34px;
	width: 113px;
	padding: 0;
}

textarea
{
	font-family: 'Roboto';
}

@media screen and (min-width: 300px) and (max-width: 335px)
{
	#menu li
	{ 
		margin-right: 3px;
	}
}

@media screen and (min-width: 300px) and (max-width: 360px)
{
	form
	{
		width: 260px;
	}

	.champ
	{
		width: 240px;
	}
}

@media screen and (min-width: 300px) and (max-width: 380px)
{
	li#bordGauche
	{
		padding: 5px 0 1px 0;
	}

	#menu2 li
	{
	    padding: 5px 0;
	}

	a[href="#lesNeufProjets"], a[href="#creative"], 
	a[href="#corporate"], a[href="#portfolio"]
	{
		padding: 5px;
	}

	#menu2 i
	{
		top: 22px;
		right: 37%;
	}

	#menu2 li:hover
	{ 
		padding-bottom: 5px;
	}

	#creative:target #bouton2, #corporate:target #bouton3, 
	#portfolio:target #bordDroit
	{
		padding-bottom: 5px;
	}

	#creative:target #bordGauche:hover, 
	#corporate:target #bordGauche:hover, 
	#portfolio:target #bordGauche:hover
	{
		padding-bottom: 5px;
	}
}

@media screen and (min-width: 300px) and (max-width: 510px)
{
	#mac
	{
		width: 100%;
	}
}

@media screen and (min-width: 300px) and (max-width: 680px)
{
    nav
    {
        flex-direction: column;
    }

    #logo
    {
    	padding-bottom: 32px;
    }

    #menu a
    {
    	padding-top: 20px;
    }

    #sContent
    {
    	padding-top: 140px;
    }
}

@media screen and (min-width: 300px) and (max-width: 900px)
{
	form
	{
		position: static;
		display: block;
		margin: auto;
	}

	form h2
	{
		padding-top: 20px;
	}

	#macIconeTexte
	{
		display: initial;
	}

	#mac
	{
		display: block;
		margin: auto;
	}

	#iconeTexte
	{
		width: 100%;
	}

	#voileBleu
	{
		top: 100px;
		height: 46.5%;
	}
}

@media screen and (min-width: 800px) and (max-width: 1100px)
{
	#texteSurImage
	{
		top: 125px;
		left: 100px;
	}

	#grasBleu, #grasBlanc
	{
		
	}

	#blanc
	{

	}
}

@media screen and (min-width: 901px) and (max-width: 974px)
{
	.icone
	{
		margin-bottom: 65px;
	}
}

@media screen and (min-width: 975px) and (max-width: 1280px)
{
	.icone
	{
		margin-bottom: 36px;
	}
}